.Small {
  backdrop-filter: blur(16px);
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  height: 64px;
  inset: 0 0 auto 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 8px;

  .title {
    color: #252432;
    font-family: var(--font-sans);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }

  .button {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    font-size: 24px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .spacer {
    flex: 1;
  }
}

.Large {
  align-items: center;
  backdrop-filter: blur(16px);
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.6) 6.125%,
    rgba(255, 255, 255, 0.4) 25%,
    rgba(255, 255, 255, 0.2) 56.25%,
    rgba(255, 255, 255, 0)
  );
  display: flex;
  height: 72px;
  inset: 0 0 auto 0;
  justify-content: center;
  position: fixed;

  .logoContainer {
    position: fixed;
    inset: 0 auto 0 64px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 992px) {
      inset: 0 auto 0 40px;
    }
  }

  .logo {
    width: 48px;
    height: 48px;
    object-fit: contain;
  }

  .folderSwitcher {
    display: flex;
    width: auto;
    height: 46px;
    list-style-type: none;
    padding: 0 8px;
    background-color: white;
    margin: 0;
    border-radius: 16px;
    overflow: hidden;
  }

  .FolderButton {
    display: flex;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px 16px;
      text-decoration: none;
      background-color: white;
      transition: background-color 0.2s ease;
      color: #8987a1;
      font-family: var(--font-sans), sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 16px;

      &:hover {
        opacity: 50%;
      }
    }

    &.active {
      a {
        color: black;
        font-weight: 700;
      }
    }
  }
}

.Root {
  display: static;
  height: 72px;
  position: relative;
  transition-duration: 200ms;
  transition-property: height;
  width: 100%;
}

@media (max-width: 576px) {
  .Root {
    height: 64px;
  }
}
