.container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 16px;
}

.PreviewWrapper {
  position: relative;
  min-height: 40px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;

  &:hover {
    border-left-color: #91caff;
  }

  .menuContainer {
    display: none;
    position: absolute;
    inset: 0 auto auto 0;
  }

  &:hover > .menuContainer {
    display: flex;
  }

  .menu {
    align-items: flex-start;
    border-radius: 0 0 16px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 560px;
    padding: 0 8px;
    width: 100%;
  }

  .content {
    max-width: 560px;
    margin: 0 auto;
  }
}
